<ion-header class="danger">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Signup Page</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="panel-group ">
    <div class="panel panel-primary">
      <div class="panel-heading">SignUp</div>
      <div class="panel-body">
        <b>For Users</b>
        <form [formGroup]="signupForm" (ngSubmit)="onFormSubmit()">
          <ion-item class="form-group">
            <ion-label>FirstName</ion-label>
            <ion-input type="text" formControlName="firstname"></ion-input>
          </ion-item>
          <div *ngIf="firstname.errors?.pattern">
              Please enter you first name, digits are not accepted
         </div>
          <ion-item class="form-group">
            <ion-label>LastName</ion-label>
            <ion-input type="text" formControlName="lastname"></ion-input>
          </ion-item>
          <div *ngIf="lastname.errors?.pattern">
              Please enter you last name, digits are not accepted
         </div>
          <ion-item class="form-group">
            <ion-label>DOB</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DDDD MMMM YYYY" min="1930" formControlName="dob"></ion-datetime>
          </ion-item>
          <ion-item class="form-group">
            <ion-label>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item class="form-group">
            <ion-label>Mobile</ion-label>
            <ion-input type="number" formControlName="mobno"></ion-input>
            <!-- <ion-input type="number" formControlName="mobno" (keypress)="phoneno()" #phone></ion-input>
            <script>
              function phoneno(){          
            $('#phone').keypress(function(e) {
                var a = [];
                var k = e.which;

                for (i = 48; i < 58; i++)
                    a.push(i);

                if (!(a.indexOf(k)>=0))
                    e.preventDefault();
            });
          }
            </script> -->
          </ion-item>
          <div *ngIf="mobno.errors?.minlength">
              Number should be of 10 digits
         </div>
         <div *ngIf="mobno.errors?.maxlength">
             Number should be of 10 digits
        </div>
          <ion-item class="form-group">
            <ion-label>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngIf="password.errors?.minlength">
              Password should be of min 8 characters
         </div>
          <ion-item>
          <button ion-button type="submit" [disabled]="!signupForm.valid" padding>Submit <ion-icon name="paw"></ion-icon></button>
          </ion-item>
        </form>
      </div>

    </div>
  </div>
</ion-content>